@page "/"
@page "/dashboard"
@using GimpiesBlazor.Authentication
@inject ISnackbar Snackbar

<AuthorizeView>
    <Authorized>
        <PageTitle>Dashboard</PageTitle>

        <MudGrid>
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard>
                    <div style="display: flex; align-items: center; padding: 16px;">
                        <img src="@_profilePicture" alt="Profile Picture" style="width: 80px; height: 80px; border-radius: 50%; margin-right: 16px;" />
                        <div>
                            <MudCardHeader>
                                <MudText Typo="Typo.h6">Welkom @_username!</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Typo="Typo.body1">Dit is het dashboard voor medewerkers van schoenenbedrijf Gimpies!</MudText>
                            </MudCardContent>
                        </div>
                    </div>
                </MudCard>

            </MudItem>
        </MudGrid>
    </Authorized>

    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; } = default!;

    private string? _username;
    private string _profilePicture = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            _username = user.Identity.Name;
            _profilePicture = user.FindFirst("ProfilePicture")!.Value + ".png";
        }
    }
}